COMPOSE_PROJECT_NAME=minorikun
MYSQL_DATABASE=minori
MYSQL_USER=minori
MYSQL_PASSWORD=minori_local
MYSQL_ROOT_PASSWORD=minori_root_local
API_PORT=8000
BUYER_PORT=5173
PRODUCER_PORT=5174
ADMIN_PORT=5175
MAILPIT_PORT=8025
